Repository open-rpc/spec, pull requests merged in 2019-02, with the labels that each got.

#22 fix: use OpenRPC over OPENRPC
  README.md
Labels: LGTM

#23 fix: keep APIs wording use consistent
  README.md
Labels: LGTM

#54 fix: always use examples as array
  README.md
Labels: bug

#55 fix: lowercase error field names
  README.md
Labels: bug

#43 Fix/param structure
  README.md
Labels: bug, help wanted

#56 fix: remove comment about organization
  README.md
Labels: bug

#59 fix: server needs name
  README.md
Labels: enhancement

#80 feat: add mdv checking to circleci
  .circleci/config.yml
  .gitignore
  package-lock.json
  package.json
Labels: LGTM
