Repository open-rpc/spec, pull requests merged in 2019-03, with the labels that each got.

#91 fix: unescaped by-position
  README.md
Labels: bug

#111 feat: add probot
  .github/stale.yml
Labels: enhancement

#122 fix(contentDescriptor): name is required
  README.md
Labels: bug

#121 fix(components): add tagObject
  README.md
Labels: bug

#119 fix: method object quick wins
  README.md
Labels: bug

#116 fix(serverObject): add summary
  README.md
Labels: bug

#115 fix: dont center examplePairingObject
  README.md
Labels: bug

#120 fix(components): add examplePairingObjects
  README.md
Labels: bug

#125 feat: gh pages from master
  docs/index.html
Labels: bug

#128 fix: add name and summary to Link Object
  README.md
Labels: bug, enhancement

#129 fix/cname-in-docs
  CNAME
  docs/CNAME
Labels: bug

#144 fix: schema required on contentDescriptorObject
  README.md
Labels: bug

#147 fix: remove examples from spec
  README.md
Labels: enhancement

#149 fix: add markdownlint
  .markdownlint.json
  README.md
  package-lock.json
  package.json
Labels: enhancement
