Repository open-rpc/spec, pull requests merged in 2020-10, with the labels that each got.

#312 Update README.md
  README.md
Labels: ops

#314 fix: typos in Example Object
  spec.md
Labels: enhancement, spec

#316 Fix/rm content descriptor example
  spec.md
Labels: spec
