Repository open-rpc/spec, pull requests merged in 2020-05, with the labels that each got.

#273 fix: default paramStructure to either
  spec.md
Labels: enhancement, spec

#284 fix: update FAQ and add to repo
  FAQ.md
Labels: enhancement

#277 fix(method.paramStructure): add spec detailing by-name role of content descriptor name
  spec.md
Labels: enhancement, spec

#281 fix: schema required formatting
  spec.md
Labels: spec

#280 fix: formatting of required on linkObject.name
  spec.md
Labels: spec

#290 fix: remove unused dev deps
  package-lock.json
  package.json
Labels: deps
